@model RainCheck.Models.UserVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewModel</title>
</head>
<body>
    <div> 
        <h2>This your view Model.............</h2>
        car code :-<input id="Text1" type="text" value="@Model.cr.car_id" /><br/>
        city name :-<input id="Text1" type="text" value="@Model.ct.city_name" />
    </div>
</body>
</html>
