
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayUsername</title>
</head>
<body>
    Diaplay Username:
    <div> 
    </div>
</body>
</html>
