
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayUsername</title>
</head>
<body>
    
    <div> 
        Diaplay Username: @ViewData["username"]
    </div>
    <div class="returnToLogin">
        <a href="../Login/LoginPage">Return to login page</a>
    </div>
</body>
</html>
