
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendEmailResetPassword</title>
    <script src="~/Script/jquery-1.10.2.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body>
    <div> 
        Sent verification code to your email.<br/>
        Enter verification code to continue.<br/>
        <b>Note</b>: space not allowed.<br/>
    </div>
    <form action="verifyCode" method="post">
        <div class="ResetPasswordContainer">
            <div class="ResetPasswordBox">
                <span>vCode: @Session["verificationCode"]</span> <br/>
                <span style="color:red;">@TempData["Message"]</span>
                <table>
                    <tr>
                        <td>Verification Code:</td>
                        <td><input name="VerificationCode" id="VerificationCodeTextBox" type="text" placeholder="Verification Code"/></td>
                    </tr>
                    
                </table>
            </div>
            <div class="SubmitBox">
                <input id="VerificationBtn" type="submit" value="Continue" />
            </div>
            <div class="returnToLogin">
                <a href="../Login/LoginPage">Return to login page</a>
            </div>
        </div>
    </form>
</body>
</html>
