
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetUsername</title>
</head>
<body>
    <div> 
        ForgetUsername
    </div>
</body>
</html>
