
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>
<body>
    <div> forget password</div>
    <form action="SendEmailResetPassword" method="post">
        <div class="ForgetPasswordContainer" style="background-color:lightblue;">
            <div class="ForgetPasswordLabel">
                Enter information to get password
            </div>
            <div class="ForgetPasswordBox">
                <span style="color:red;">@TempData["errorMessage"]</span>
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input name="Username" id="UsernameTextBox" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Policy Number:</td>
                        <td><input name="Policy" id="PolicyTextBox" type="text" /></td>
                    </tr>
                    
                </table>
            </div>
            <div>
                <input id="ForgetPasswordBtn" type="submit" value="Submit" />
            </div>
            <div class="returnToLogin">
                <a href="../Login/LoginPage">Return to login page</a>
            </div>
        </div>
    </form>
</body>
</html>
