
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordResult</title>
</head>
<body>
    <div> 
        <span>@TempData["Message"]</span>
        <div class="returnToLogin">
            <a href="../Login/LoginPage">Return to login page</a>
        </div>
    </div>
</body>
</html>
