
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordResult</title>
</head>
<body>
    <div> 
        Reset succeded OR reset failed
    </div>
</body>
</html>
