
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div> 
        reset password
    </div>
    <form action="ResetPassword" method="post">
        <div>
            <span style="color:red">@TempData["Message"]</span>
            <table>
                <tr>
                    <td>New Passwor:</td>
                    <td><input name="NewPassword" id="NewPasswordTextBox" type="text" /></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input name="ConfirmPassword" id="ConfirmPasswordTextBox" type="text" /></td>
                </tr>
            </table>
        </div>
        <div class="SubmitBox">
            <input id="ResetPasswordBtn" type="submit" value="Reset Password" />
        </div>
        <div class="returnToLogin">
            <a href="../Login/LoginPage">Return to login page</a>
        </div>
    </form>
</body>
</html>
