@model RainCheck.Models.GetQuoteBLL
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuoteView</title>
</head>
<body>
    <div> 
        Quote: @Model.CalculateQuote() <br />
    </div>
</body>
</html>
