@model RainCheck.Models.quote

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getSavedQuote</title>
</head>
<body>
    @using (Html.BeginForm("getSavedQuote", "Home", FormMethod.Post))
    { 
        <div>
            <span style="color:red">@TempData["Message"]</span>
            Get Saved Quote <br/>
            Reference Number : @Html.TextBoxFor(x => x.Reference_number) <br/>
            <input id="Submitbtn" type="submit" value="Get Saved Quote" />
        </div>
    }
</body>
</html>
