
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Script/bootstrap.min.js"></script>
</head>
<body>
    <h1>Home Page here!</h1>
    <div class="container"> 
        <div class="header">
            <div id="header" class="" style="text-align:right; padding:20px; background-color:antiquewhite;">
                <a href="../Login/LoginPage">Log in</a>
            </div>
            <nav class="navbar navbar-default" >
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home">Home<span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us<span class="glyphicon glyphicon-phone-alt"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../Login/LoginPage">Login</a></li>
                </ul>
            </nav>
        </div>

        
        <div id="imagePart" style="width:400px; height:300px; background-color:aquamarine; margin-left:100px;">

        </div>
        <div id="getQuote" style="width:400px; height:100px; background-color:antiquewhite; margin-left:100px;">
            <form action="GetQuote" method="post">
                <input name="Zipcode" id="ZipcodeTextBox" type="text" /><br/>
                <input id="getQuoteBtn" type="submit" value="Get Quote" />
            </form>
        </div>
        <div id="getSavedQuote" style="width:400px; height:100px; background-color:aquamarine; margin-left:100px;">
            <div>
                <p>
                    Already has <b>quote saved</b>?<br/>
                    Click to retrive saved quote:<br />
                </p>
                <a href="../Home/getSavedQuotePage">Saved Quote</a>
            </div>
        </div>
    </div>
</body>
</html>
