
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuoteResult</title>
</head>
<body>
    <div> 
        requested Quote id is : @TempData["quoteId"]
    </div>
</body>
</html>
