@model IEnumerable<RainCheck.Models.state>


@using RainCheck.Models


        <div>
            <p>Hello</p>
            @foreach (var item in Model)
            {
                <p>@item.State_id</p>
                <p>@item.State_name</p>
            }
        </div>
