

<form id="f1" action="Submit" method="post">
    
    State ID :- <input id="Text1" name="StateID" type="text" />
    State Name :- <input id="Text1" name="StateName"type="text" />
    <input id="Submit1" type="submit" value="submit" />
 </form>